
{% extends 'layout.html' %}


{% load static %}

<link rel="stylesheet" href="{% static 'plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
{% block css %}

{% endblock %}

{% block content %}

     <div>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <i class="bi bi-database-add"></i>
                    {{ title }}
                </div>
                <div class="card-body">

{#                    novalidate关闭浏览器错误校验   #}
                    <form method="post" novalidate> <!--  提交后的目的地址 action -->
                        {% csrf_token %}

                        {% for field in form %}

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">{{ field.label }}</label>
                            <div class="col-sm-10">

                                {{ field }}
                                {# 在字段下方显示错误信息,不止一个,0取第一个错误 #}
                                {# [错误0,错误1,错误2,...,错误n #}
                                <span style="color: red">{{ field.errors.0 }}</span>
                            </div>
                        </div>

                        {% endfor %}


                        <button type="submit" class="btn btn-primary">提 交</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>


{% endblock %}